<h1>Welcome to you ADMIN !</h1>

<% @items.each do |item| %>
  <div>
    <%= image_tag item.image_url, width: 100, height: 100 %>
    <%= item.title %>
    <%= item.description %>
    <%= item.original_price %>
    <%= link_to "Voir", administration_item_path(item.id) %>
    <%= link_to "Editer", edit_administration_item_path(item.id) %>
  </div>
<% end %>

<div>
  <%= link_to "Ajouter un nouvel item?", new_administration_item_path %>
</div>
