<h1>Welcome to you ADMIN !</h1>

<% @items.each do |item| %>
  <div>
    <%= image_tag item.image_url %>
    <%= item.title %>
    <%= item.description %>
    <%= item.has_discount %>
    <%= item.discount_percentage %>
  </div>
<% end %>
