<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", root_path, class: "navbar-brand" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Nos produits", items_path, class: "navbar-brand" %>
      </li>
    </ul>
    <div>
      <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <span class="nav-link"><%= current_user.first_name + " " + current_user.last_name %></span></li>
            <li class="nav-item active">
              <%= link_to "Se déconnecter", destroy_user_session_path, class: "nav-link", method: :delete %>
            </li>
            <li class="nav-item active">
              <%= link_to "Panier", cart_path, class: "nav-link" %>
          <% else %>
            <li class="nav-item active">
              <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
