<h1>The Product</h1>

<%= image_tag @item.image_url %><br>
<%= @item.title %><br>
<%= @item.description %><br>
<%= @item.has_discount %><br>
<%= @item.discount_percentage %><br>

<%= link_to "retour à la page précédente", items_path %>
<%= button_to "Add to cart", cart_items_path(:id => @item), :remote => true %>