<div class="container" id="container_item_show">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @item.image_url, class: "card-img-top img-fluid" %>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title"><%= @item.title %></h5>
        <p class="card-text"><%= @item.description %></p>
        <h5 class="card-title"><%= number_to_currency(@item.original_price) %></h5><br>
        <%= button_to "Ajouter au panier", cart_items_path(:id => @item), :remote => true, class: 'btn btn-outline-primary btn-lg' %>
        <br><%= link_to "retour aux produits", items_path, class: "card-link" %>
      </div>
    </div>
  </div>
</div><br>
